.navbar,.navbar .navbar-brand{
    background-color: #000000;
    color: white;
    border-bottom: none;
}
.LogIn .panel .panel-heading{
    background-color:  #000000;
    color: white;
}
.LogIn .panel .btn{
    background-color:  #000000;
    color: white;
}
.LogIn .panel .btn:hover{
    background-color: white;
    color: #000000;
    border-color: #000000;
}
